aiohttp==3.12.14
aioresponses==0.7.8
argparse==1.4.0
asyncio==3.4.3
coverage==7.10.1
Flask==3.1.1
pyfiglet==1.0.3
pylint==3.3.7
pytest==8.4.1
pytest-asyncio==1.1.0
python-dotenv==1.1.1
requests==2.32.4
termcolor==3.1.0
watchdog==6.0.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability