aiohttp==3.10.9
aioresponses==0.7.6
argparse==1.4.0
asyncio==3.4.3
coverage==7.6.3
Flask==3.0.3
pyfiglet==1.0.2
pylint==3.3.1
pytest==8.3.3
pytest-asyncio==0.24.0
python-dotenv==1.0.1
requests==2.32.3
termcolor==2.5.0
watchdog==5.0.3